Repository nikitasmg/findRecipe: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:es:fix && npm run check-types, prettier --write, node ./scripts/imagemin.mjs

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["npm run lint:es:fix && npm run check-types"],
  "*.json": ["prettier --write"],
  "*.{png,jpeg,jpg,gif}": ["node ./scripts/imagemin.mjs", "git add"]
}

feat: package version
  package.json
Due: prettier --write

init project
  .env.example
  .gitlab-ci.yml
  README.md
  app.config.json
  codegen.ts
  scripts/changelog-update.sh
  scripts/deploy/dev.sh
Due: prettier --write

addVideoBroadcast
  src/api/broadcasts/queries.ts
  src/app/providers/Paths/Paths.tsx
  src/generated/graphql.ts
  src/modules/BroadcastsDetailsForm/BroadcastsDetailsForm.tsx
  src/modules/BroadcastsDetailsForm/index.ts
  src/modules/BroadcastsTable/BroadcastsTable.tsx
  src/modules/BroadcastsTable/index.ts
  src/modules/BroadcastsTable/lib/useBroadcasts.ts
  src/modules/BroadcastsTable/lib/useColumns.tsx
  src/modules/BroadcastsTable/types/index.ts
  src/pages/Broadcasts.tsx
  src/pages/BroadcastsEdit.tsx
  src/pages/Routing/Routing.tsx
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
Due: npm run lint:es:fix && npm run check-types, prettier --write

fix: renew api sort tables
  src/modules/BroadcastsTable/BroadcastsTable.tsx
Due: npm run lint:es:fix && npm run check-types

fix: fixing unauth handling
  src/modules/Header/components/HeaderProfile/HeaderProfile.tsx
Due: npm run lint:es:fix && npm run check-types

feat: Set logos
  public/favicon.ico
  src/app/providers/Theme/Theme.tsx
  src/modules/Header/components/HeaderProfile/HeaderProfile.tsx
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/pages/Login.tsx
  src/shared/assets/images/logo-internet.jpeg
  src/shared/assets/svg/logo-letter.svg
  src/shared/assets/svg/logo.svg
  src/shared/components/LogoLetter/LogoLetter.stories.tsx
  src/shared/components/LogoLetter/LogoLetter.tsx
  src/shared/components/LogoLetter/index.ts
  src/shared/i18n/ru.json
  tailwind.config.js
Due: npm run lint:es:fix && npm run check-types, prettier --write, node ./scripts/imagemin.mjs

feat: change login button color
  src/modules/LoginForm/LoginForm.tsx
Due: npm run lint:es:fix && npm run check-types

feat: add clusters
  src/api/clusters/queries.ts
  src/app/providers/Paths/Paths.tsx
  src/generated/graphql.ts
  src/modules/BroadcastsDetailsForm/BroadcastsDetailsForm.tsx
  src/modules/ClustersDetailsForm/ClustersDetailsForm.tsx
  src/modules/ClustersDetailsForm/index.ts
  src/modules/ClustersTable/ClustersTable.tsx
  src/modules/ClustersTable/index.ts
  src/modules/ClustersTable/lib/useClusters.ts
  src/modules/ClustersTable/lib/useColumns.tsx
  src/modules/ClustersTable/types/index.ts
  src/modules/ContestDetailsForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/EmployeesTable/components/SelectSubdivision/SelectSubdivision.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/modules/UsersDetailsForm/UsersDetailsForm.tsx
  src/modules/VacanciesDetailsForm/VacanciesDetailsForm.tsx
  src/pages/Clusters.tsx
  src/pages/ClustersEdit.tsx
  src/pages/Routing/Routing.tsx
  src/shared/components/ContentEditor/ContentEditor.tsx
  src/shared/components/DocumentsUpload/DocumentsUpload.tsx
  src/shared/components/FileInput/FileInput.tsx
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
Due: npm run lint:es:fix && npm run check-types, prettier --write

feat: Add grpahql hints by loded schema
  .graphqlconfig
  schema.graphql
Due: none

feat: delete news groups
  src/api/news/index.ts
  src/api/news/queries.ts
  src/generated/graphql.ts
  src/modules/ActivityResultsDetailsForm/ActivityResultsDetailsForm.tsx
  src/modules/BroadcastsDetailsForm/BroadcastsDetailsForm.tsx
  src/modules/ClustersDetailsForm/ClustersDetailsForm.tsx
  src/modules/ContestDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/EventsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/InteractiveMapDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/PageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/ProjectsDetailsForm/components/GeneralProjectsForm/GeneralProjectsForm.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/modules/ReportsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/StaffControlTable/components/DetailsForm/DetailsForm.tsx
  src/modules/UsersDetailsForm/UsersDetailsForm.tsx
  src/modules/VacanciesDetailsForm/VacanciesDetailsForm.tsx
  src/pages/News.tsx
  src/shared/components/ButtonDelete/ButtonDelete.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/DocumentGroupDetailsDialog/DocumentGroupDetailsDialog.tsx
  src/shared/components/TableActions/TableActions.tsx
  src/shared/lib/validation.ts
Due: npm run lint:es:fix && npm run check-types

feat: contests contact email
  src/layouts/EditContestsPageForm/EditContestsPageForm.tsx
  src/modules/ContestsBlocks/ContestsBlocks.tsx
  src/modules/ContestsBlocks/components/EmailField.tsx
  src/modules/ContestsBlocks/index.ts
  src/shared/i18n/ru.json
Due: npm run lint:es:fix && npm run check-types, prettier --write

feat: edit news data by lang
  src/api/news/queries.ts
  src/api/newsCategories/queries.ts
  src/api/newsTags/queries.ts
  src/generated/graphql.ts
  src/modules/CompilationEditTable/CompilationEditTable.tsx
  src/modules/CompilationEditTable/lib/getColumns.tsx
  src/modules/CompilationEditTable/types/index.ts
  src/modules/CompilationsTable/CompilationsTable.tsx
  src/modules/CompilationsTable/types/index.ts
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/modules/NewsDetailsForm/components/AdditionalNewsForm/AdditionalNewsForm.tsx
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/modules/NewsDetailsForm/lib/prepareFormData.ts
  src/pages/NewsEdit.tsx
  src/shared/components/DetailsHead/DetailsHead.tsx
  src/shared/components/EnLabelWrapper/EnLabelWrapper.tsx
  src/shared/components/EnLabelWrapper/index.ts
  src/shared/components/LangSwitcher/LangSwitcher.stories.tsx
  src/shared/components/LangSwitcher/LangSwitcher.tsx
  src/shared/components/LangSwitcher/index.ts
  src/shared/hooks/useLang.ts
  src/shared/stores/compilations/index.ts
  src/shared/types/Compilation.ts
  src/shared/types/Languages.ts
Due: npm run lint:es:fix && npm run check-types

feat: add story for new wrapper
  src/shared/components/EnLabelWrapper/EnLabelWrapper.stories.tsx
Due: npm run lint:es:fix && npm run check-types

update Readme with backend info
  README.md
Due: none

init project
  .env.example
  .gitlab-ci.yml
  app.config.json
  codegen.ts
  scripts/changelog-update.sh
  scripts/deploy/dev.sh
Due: prettier --write

feat: add banner block
  src/api/pages/queries.ts
  src/generated/graphql.ts
  src/layouts/EditIndexPageForm/EditIndexPageForm.tsx
  src/modules/BlocksIndexPage/BlocksIndexPage.tsx
  src/modules/BlocksIndexPage/components/Banner.tsx
  src/modules/BlocksIndexPage/components/index.ts
  src/modules/BlocksIndexPage/index.ts
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/modules/NewsDetailsForm/lib/prepareFormData.ts
  src/modules/PageForm/PageForm.tsx
  src/shared/components/GalleryInput/GalleryInput.tsx
  src/shared/i18n/ru.json
Due: npm run lint:es:fix && npm run check-types, prettier --write

fix: gallery get values
  src/modules/BlocksIndexPage/components/Banner.tsx
  src/modules/PageForm/PageForm.tsx
  src/modules/PageForm/components/BlocksForm/BlocksForm.tsx
Due: npm run lint:es:fix && npm run check-types

localize events
  src/api/events/queries.ts
  src/api/organizers/queries.ts
  src/api/partners/queries.ts
  src/api/reports/queries.ts
  src/generated/graphql.ts
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/EventsDetailsForm/components/AdditionalForm/AdditionalForm.tsx
  src/modules/EventsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/EventsDetailsForm/components/Member/Member.tsx
  src/pages/EventsEdit.tsx
Due: npm run lint:es:fix && npm run check-types

localize contests
  src/api/contest/queries.ts
  src/generated/graphql.ts
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/modules/ContestDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/pages/ContestEdit.tsx
Due: npm run lint:es:fix && npm run check-types

localize projects
  src/api/knowledgeFields/queries.ts
  src/api/projects/queries.ts
  src/generated/graphql.ts
  src/modules/ProjectsDetailsForm/ProjectsDetailsForm.tsx
  src/modules/ProjectsDetailsForm/components/AdditionalProjectsForm/AdditionalProjectsForm.tsx
  src/modules/ProjectsDetailsForm/components/ContestsSelect/ContestsSelect.tsx
  src/modules/ProjectsDetailsForm/components/GeneralProjectsForm/GeneralProjectsForm.tsx
  src/modules/ProjectsDetailsForm/components/ReportProjectsForm/ReportProjectsForm.tsx
  src/pages/ProjectsEdit.tsx
  src/shared/stores/compilations/index.ts
Due: npm run lint:es:fix && npm run check-types

localize documents
  src/api/documentGroups/queries.ts
  src/api/linkedDocuments/queries.ts
  src/generated/graphql.ts
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/DocumentGroupDetailsDialog/DocumentGroupDetailsDialog.tsx
  src/shared/components/FileInput/FileInput.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
Due: npm run lint:es:fix && npm run check-types

localize employee
  src/api/employees/queries.ts
  src/api/subdivisions/queries.ts
  src/generated/graphql.ts
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/pages/EmployeesEdit.tsx
  src/shared/stores/compilations/index.ts
Due: npm run lint:es:fix && npm run check-types

localize vacancy and purchases
  src/api/purchases/queries.ts
  src/api/staffControl/queries.ts
  src/api/vacancies/queries.ts
  src/generated/graphql.ts
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/modules/VacanciesDetailsForm/VacanciesDetailsForm.tsx
  src/pages/PurchasesEdit.tsx
  src/pages/VacanciesEdit.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
Due: npm run lint:es:fix && npm run check-types

localize staff controll
  src/generated/graphql.ts
  src/modules/StaffControlTable/components/DetailsForm/DetailsForm.tsx
Due: npm run lint:es:fix && npm run check-types

localize staff reports
  src/modules/ReportsDetailsForm/ReportsDetailsForm.tsx
  src/modules/ReportsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/pages/ReportsEdit.tsx
Due: npm run lint:es:fix && npm run check-types

localize staff activity result
  src/api/activityResult/queries.ts
  src/generated/graphql.ts
  src/modules/ActivityResultsDetailsForm/ActivityResultsDetailsForm.tsx
  src/pages/ActivityResultEdit.tsx
Due: npm run lint:es:fix && npm run check-types
