Repository nikitasmg/findRecipe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write, node ./scripts/imagemin.mjs

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["eslint --ext .js,.jsx,.ts,.tsx src"],
  "*.json": ["prettier --write"],
  "*.{png,jpeg,jpg,gif}": ["node ./scripts/imagemin.mjs", "git add"]
}

fix: refetch groups
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: update document groups from any places
  src/modules/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

optimize map
  package-lock.json
  package.json
  src/modules/EmployeesTable/lib/useEmployees.ts
  src/modules/InteractiveMapForm/InteractiveMapForm.tsx
  src/modules/VacanciesTable/lib/useVacancies.ts
  src/shared/assets/images/map.jpg
  src/shared/assets/svg/MapSVG.ts
  src/shared/assets/svg/map.svg
  src/shared/components/InteractiveMap/InteractiveMap.tsx
  src/shared/components/MapSVG/MapSVG.module.scss
  src/shared/components/MapSVG/MapSVG.tsx
  src/shared/components/MapSVG/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write, node ./scripts/imagemin.mjs

feat: edit map items
  src/api/mapObject/queries.ts
  src/generated/graphql.ts
  src/modules/InteractiveMap/InteractiveMap.tsx
  src/modules/InteractiveMap/components/FiltersForm/FiltersForm.tsx
  src/modules/InteractiveMap/components/FiltersForm/index.ts
  src/modules/InteractiveMap/index.ts
  src/modules/InteractiveMap/lib/useColumns.tsx
  src/modules/InteractiveMap/mock/index.ts
  src/modules/InteractiveMap/types/index.ts
  src/modules/InteractiveMapDetailsForm/InteractiveMapDetailsForm.tsx
  src/modules/InteractiveMapDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/InteractiveMapDetailsForm/components/GeneralForm/index.ts
  src/modules/InteractiveMapDetailsForm/index.ts
  src/modules/InteractiveMapDetailsForm/lib/prepareFormData.ts
  src/modules/InteractiveMapForm/InteractiveMapForm.tsx
  src/modules/InteractiveMapForm/index.ts
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/modules/ProjectsDetailsForm/ProjectsDetailsForm.tsx
  src/pages/InteractiveMap.tsx
  src/pages/InteractiveMapEdit.tsx
  src/pages/Routing/Routing.tsx
  src/shared/components/ContentEditor/ContentEditor.tsx
  src/shared/components/InteractiveMap/InteractiveMap.tsx
  src/shared/components/MapSVG/MapSVG.module.scss
  src/shared/components/MapSVG/MapSVG.tsx
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: document adding
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/shared/components/DocumentCard/DocumentCard.tsx
  src/shared/components/UploadDocumentsButton/UploadDocumentsButton.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: news content required
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/shared/components/ContentEditor/ContentEditor.module.scss
  src/shared/components/ContentEditor/ContentEditor.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: add documents on items control
  src/layouts/EditControlItemPageForm/EditControlItemPageForm.tsx
  src/layouts/EditControlItemPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/layouts/EditControlItemPageForm/components/SeoForm/SeoForm.tsx
  src/layouts/EditEventsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/layouts/EditEventsPageForm/components/SeoForm/SeoForm.tsx
  src/layouts/EditGrantsPageForm/components/DocumentsForm/DocumentsForm.tsx
  src/layouts/EditGrantsPageForm/components/DocumentsForm/index.ts
  src/layouts/EditGrantsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/layouts/EditGrantsPageForm/components/GeneralPageForm/index.ts
  src/layouts/EditGrantsPageForm/components/SeoForm/SeoForm.tsx
  src/layouts/EditGrantsPageForm/components/SeoForm/index.ts
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: linked documents on page
  src/api/pages/queries.ts
  src/generated/graphql.ts
  src/modules/PageForm/PageForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: activity result
  src/modules/ActivityResultsDetailsForm/ActivityResultsDetailsForm.tsx
  src/modules/InteractiveMap/mock/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: Add document fields created_at and published
  src/api/documentGroups/queries.ts
  src/api/linkedDocuments/queries.ts
  src/api/overrides.ts
  src/generated/graphql.ts
  src/modules/InteractiveMap/InteractiveMap.tsx
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/AddGroup/AddGroup.tsx
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/modules/ReportsTable/ReportsTable.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: learn more field name
  src/modules/InteractiveMapDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/LinkedDocumentForm/LinkedDocumentForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

refactor: Fix Header imports
  .gitignore
  src/modules/Header/components/HeaderTabs/HeaderTabs.tsx
  src/modules/Header/components/NavigationMenu/NavigationMenu.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

refactor: Fix documents form
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

refactor: Fix lint-staged
  .eslintignore
  .lintstagedrc.json
  scripts/imagemin.ts
  tsconfig.json
Due: prettier --write

refactor: Fix resort in tables
  src/api/resort/index.ts
  src/modules/ActivityResultsTable/ActivityResultsTable.tsx
  src/modules/CompilationEditTable/CompilationEditTable.tsx
  src/modules/CompilationEditTable/lib/useCompilations.ts
  src/modules/EmployeesTable/lib/useEmployees.ts
  src/modules/PurchasesTable/lib/usePurchases.ts
  src/modules/ReportsTable/ReportsTable.tsx
  src/modules/StaffControlTable/StaffControlTable.tsx
  src/modules/VacanciesTable/lib/useVacancies.ts
  src/shared/hooks/useApi.ts
  src/shared/hooks/useApiMutation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: document sorting
  .lintstagedrc.json
  src/api/globalSearch/queries.ts
  src/api/resort/index.ts
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/GlobalSearch/GlobalSearch.tsx
  src/modules/GlobalSearch/index.ts
  src/modules/InteractiveMapDetailsForm/lib/prepareFormData.ts
  src/modules/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/modules/NewsDetailsForm/components/AdditionalNewsForm/AdditionalNewsForm.tsx
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/modules/NewsDetailsForm/components/SeoNewsForm/SeoNewsForm.tsx
  src/modules/PageForm/PageForm.tsx
  src/modules/StaffControlTable/StaffControlTable.tsx
  src/shared/components/LinkInput/LinkInput.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/components/TabsForm/UploadDocumentsButton.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: add sorting column
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/StaffControlTable/lib/useColumns.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: activity result filter
  src/modules/ActivityResultsTable/components/FiltersForm/FiltersForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: add documents on grants page
  src/layouts/EditGrantsPageForm/EditGrantsPageForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: ui and functional
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/modules/ContestDetailsForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/ContestDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/ContestDetailsForm/components/NumberField/NumberField.tsx
  src/modules/ContestDetailsForm/components/NumberField/index.ts
  src/modules/ContestTable/ContestTable.tsx
  src/modules/ContestTable/lib/useColumns.tsx
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/EmployeesTable/EmployeesTable.tsx
  src/modules/EmployeesTable/lib/useColumns.tsx
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/modules/ProjectsTable/components/FiltersForm/FiltersForm.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/shared/i18n/ru.json
  src/shared/lib/initFormValues.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: organizers and partners crud
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/EventsDetailsForm/components/AdditionalForm/AdditionalForm.tsx
  src/modules/EventsDetailsForm/components/Member/Member.tsx
  src/modules/EventsDetailsForm/components/Member/index.ts
  src/modules/EventsDetailsForm/lib/getMemberHooksByName.ts
  src/shared/components/AvatarInput/AvatarInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: columns styles purchases
  src/modules/PurchasesTable/lib/useColumns.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

refactor: update deps
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: avatar cropping
  package-lock.json
  package.json
  src/modules/EventsDetailsForm/components/Member/Member.tsx
  src/shared/components/AvatarInput/AvatarInput.tsx
  src/shared/components/AvatarInput/lib/getCropImage.ts
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

bx#47374 Improvement Social Setting Form
  src/modules/SettingsForm/SettingsForm.tsx
  src/modules/SettingsForm/components/SocialDrawer/SocialDrawer.tsx
  src/modules/SettingsForm/components/SocialDrawer/index.ts
  src/modules/SettingsForm/components/SocialItem/SocialItem.tsx
  src/modules/SettingsForm/components/SocialItem/index.ts
  src/modules/SettingsForm/components/SocialSettingsForm/SocialSettingsForm.tsx
  src/shared/components/ButtonDelete/ButtonDelete.tsx
  src/shared/types/socials.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

addTypeSocial
  src/modules/SettingsForm/SettingsForm.tsx
  src/modules/SettingsForm/components/SocialDrawer/SocialDrawer.tsx
  src/modules/SettingsForm/components/SocialItem/SocialItem.tsx
  src/modules/SettingsForm/components/SocialSettingsForm/SocialSettingsForm.tsx
  src/shared/types/socials.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

addResetForm
  src/modules/SettingsForm/components/SocialDrawer/SocialDrawer.tsx
  src/modules/SettingsForm/components/SocialItem/SocialItem.tsx
  src/modules/SettingsForm/components/SocialSettingsForm/SocialSettingsForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix socialSettingForm
  src/modules/SettingsForm/components/SocialSettingsForm/SocialSettingsForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: form bugs
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/shared/components/AvatarInput/AvatarInput.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/FileInput/FileInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: platfom linebreak-style
  .eslintrc.js
Due: none

fix: rename column staff controll
  src/api/resort/index.ts
  src/modules/StaffControlTable/lib/useColumns.tsx
  src/shared/components/Alerts/Alerts.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

change SocialSettingForm
  src/modules/SettingsForm/components/SocialSettingsForm/SocialSettingsForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: sort components errors
  package-lock.json
  package.json
  src/modules/ActivityResultsTable/ActivityResultsTable.tsx
  src/modules/CompilationEditTable/CompilationEditTable.tsx
  src/modules/EmployeesTable/EmployeesTable.tsx
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/InteractiveMapDetailsForm/InteractiveMapDetailsForm.tsx
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/modules/PageForm/PageForm.tsx
  src/modules/PurchasesTable/PurchasesTable.tsx
  src/modules/ReportsDetailsForm/ReportsDetailsForm.tsx
  src/modules/ReportsTable/ReportsTable.tsx
  src/modules/StaffControlTable/StaffControlTable.tsx
  src/modules/VacanciesTable/VacanciesTable.tsx
  src/shared/components/DefaultSortable/ContainerSortable.tsx
  src/shared/components/DefaultSortable/ItemSortable.tsx
  src/shared/components/DocumentsUpload/DocumentsUpload.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/components/SortableBox/BoxContainerSortable.tsx
  src/shared/components/SortableBox/BoxItemSortable.tsx
  src/shared/components/SortableTable/DragHandle.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

init project
  .env.example
  .gitlab-ci.yml
  README.md
  app.config.json
  codegen.ts
  scripts/changelog-update.sh
  scripts/deploy/dev.sh
Due: prettier --write

feat: package version
  package.json
Due: prettier --write

fix: NumericInput validation
  README.md
  src/shared/components/NumericInput/NumericInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: Set logos
  public/favicon.ico
  src/app/providers/Theme/Theme.tsx
  src/modules/Header/components/HeaderProfile/HeaderProfile.tsx
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/pages/Login.tsx
  src/shared/assets/images/logo-internet.jpeg
  src/shared/assets/svg/logo-letter.svg
  src/shared/assets/svg/logo.svg
  src/shared/components/LogoLetter/LogoLetter.stories.tsx
  src/shared/components/LogoLetter/LogoLetter.tsx
  src/shared/components/LogoLetter/index.ts
  src/shared/i18n/ru.json
  tailwind.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write, node ./scripts/imagemin.mjs
