Repository nikitasmg/findRecipe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/imagemin.mjs

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"],
  "*.{png,jpeg,jpg,gif,svg}": ["node ./scripts/imagemin.mjs", "git add"]
}

initialize change log script
  scripts/changelog-update.sh
Due: none

ci initialize
  .eslintignore
  .gitlab-ci.yml
  .lintstagedrc.json
  jest.config.js
  jest.config.ts
  package-lock.json
  package.json
  src/App.test.tsx
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
  test/__mocks__/fileMock.js
  test/__mocks__/styleMock.js
  test/jestSetup.ts
Due: eslint --fix, prettier --write

Update deploy stage
  .gitlab-ci.yml
  scripts/deploy/dev.sh
Due: none

Update cd
  .gitlab-ci.yml
Due: none

Update ci
  .gitlab-ci.yml
Due: none

Update deploy script
  scripts/deploy/dev.sh
Due: none

Update deploy
  scripts/deploy/dev.sh
Due: none

login-form: Add login form
  .babelrc
  .eslintrc.js
  .gitlab-ci.yml
  codegen.ts
  config-overrides.js
  jest.config.ts
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.tsx
  src/api/auth/queries.ts
  src/api/generated/graphql.ts
  src/api/schema.graphql
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/providers/CustomQueryClientProvider/CustomQueryClientProvider.tsx
  src/app/providers/CustomQueryClientProvider/index.ts
  src/app/providers/Router/Router.tsx
  src/app/providers/Router/index.ts
  src/app/providers/index.tsx
  src/index.css
  src/index.tsx
  src/layouts/BaseLayout.tsx
  src/modules/LoginForm/LoginForm.tsx
  src/modules/LoginForm/index.ts
  src/modules/ProtectedRoutes/ProtectedRoutes.tsx
  src/modules/ProtectedRoutes/index.ts
  src/pages/Login.tsx
  src/pages/NoMatch.tsx
  src/shared/lib/validation.ts
  src/shared/stores/auth/index.ts
  src/shared/stores/user/index.ts
  src/shared/styles/index.css
  tsconfig.json
Due: eslint --fix, prettier --write, node ./scripts/imagemin.mjs

Add BaseLayout
  .env.example
  .eslintrc.js
  .gitignore
  .gitlab-ci.yml
  src/api/auth/index.tsx
  src/app/providers/CustomQueryClientProvider/CustomQueryClientProvider.tsx
  src/app/providers/Router/Router.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/BaseProtectedLayout.tsx
  src/modules/Header/Header.tsx
  src/modules/Header/index.ts
  src/modules/LoginForm/LoginForm.tsx
  src/modules/ProtectedRoutes/ProtectedRoutes.tsx
  src/pages/News.tsx
  src/shared/hooks/useApi.ts
  src/shared/hooks/useApiMutation.ts
  src/shared/routes/index.ts
  src/shared/services/HttpService.ts
  src/shared/services/LoggerService.ts
  src/shared/stores/auth/index.ts
  src/shared/stores/headerTabs/index.ts
  src/shared/types/environment.d.ts
Due: eslint --fix

Fix lint errors
  .eslintrc.js
  src/shared/lib/validation.ts
Due: eslint --fix

Fix test start
  .gitlab-ci.yml
  config-overrides.js
  jest.config.ts
  package-lock.json
  package.json
  src/api/auth/index.tsx
  src/app/App.tsx
  src/app/providers/Router/Router.tsx
  src/index.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/BaseProtectedLayout.tsx
  src/modules/Header/Header.tsx
  src/modules/LoginForm/LoginForm.tsx
  src/modules/ProtectedRoutes/ProtectedRoutes.tsx
  src/pages/Login.tsx
  src/shared/stores/user/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add serve script
  package-lock.json
  package.json
Due: prettier --write

PM2 serve
  app.config.json
  package.json
Due: prettier --write

News Table
  package-lock.json
  package.json
  src/api/auth/queries.ts
  src/api/generated/graphql.ts
  src/api/news/index.tsx
  src/api/news/queries.ts
  src/app/App.tsx
  src/app/providers/Router/Router.tsx
  src/app/providers/Translation/Translation.tsx
  src/app/providers/Translation/index.ts
  src/app/providers/index.tsx
  src/layouts/BaseLayout.tsx
  src/modules/Footer/Footer.tsx
  src/modules/Footer/index.ts
  src/modules/Header/Header.tsx
  src/modules/LoginForm/LoginForm.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/NewsTable/index.ts
  src/modules/ProtectedRoutes/ProtectedRoutes.tsx
  src/modules/Snackbar/Snackbar.tsx
  src/modules/Snackbar/index.ts
  src/pages/Login.tsx
  src/pages/News.tsx
  src/shared/components/LanguageSelect/LanguageSelect.tsx
  src/shared/components/Text/Text.tsx
  src/shared/components/Text/index.ts
  src/shared/hooks/useApi.ts
  src/shared/hooks/useApiMutation.ts
  src/shared/i18n/en.json
  src/shared/i18n/ru.json
  src/shared/lib/validation.ts
  src/shared/routes/index.ts
  src/shared/stores/alerts/index.ts
  src/shared/styles/index.css
  src/shared/styles/ovverides.css
Due: eslint --fix, prettier --write

Fix sorting
  .gitlab-ci.yml
  src/app/providers/Theme/Theme.tsx
  src/app/providers/Theme/index.ts
  src/app/providers/index.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/NewsTable/lib/getColumns.tsx
  src/modules/NewsTable/types/index.ts
  src/shared/hooks/useTablePagination.ts
  src/shared/styles/ovverides.css
Due: eslint --fix

Fix lint
  .eslintrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

Search input
  config-overrides.js
  jest.config.ts
  package-lock.json
  package.json
  src/api/auth/index.tsx
  src/api/news/index.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/shared/hooks/useTablePagination.ts
  src/shared/i18n/ru.json
  src/shared/lib/debounce.ts
  src/shared/lib/events.ts
  src/shared/stores/user/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: update api
  src/api/auth/index.tsx
  src/api/generated/graphql.ts
  src/api/news/index.tsx
  src/api/news/queries.ts
  src/api/newsCategories/queries.ts
  src/api/schema.graphql
  src/api/users/queries.ts
Due: eslint --fix

feat: update generated
  src/generated/graphql.ts
Due: eslint --fix

feat: update layouts
  src/layouts/stories/BaseLayout.stories.tsx
  src/layouts/stories/BaseProtectedLayout.stories.tsx
Due: eslint --fix

feat: update modules
  src/modules/Footer/Footer.stories.tsx
  src/modules/Footer/Footer.tsx
  src/modules/Header/Header.stories.tsx
  src/modules/Header/Header.tsx
  src/modules/Header/components/HeaderProfile/HeaderProfile.tsx
  src/modules/Header/components/HeaderProfile/index.ts
  src/modules/Header/components/HeaderTabs/HeaderTabs.tsx
  src/modules/Header/components/HeaderTabs/index.ts
  src/modules/Header/components/NavigationMenu/NavigationMenu.tsx
  src/modules/Header/components/NavigationMenu/index.ts
  src/modules/LoginForm/LoginForm.stories.tsx
  src/modules/LoginForm/LoginForm.tsx
  src/modules/NewsTable/NewsTable.stories.tsx
  src/modules/NewsTable/lib/getColumns.tsx
  src/modules/Snackbar/Snackbar.stories.tsx
  src/modules/Snackbar/Snackbar.tsx
  src/modules/UsersTable/UsersTable.stories.tsx
  src/modules/UsersTable/UsersTable.tsx
  src/modules/UsersTable/index.ts
  src/modules/UsersTable/lib/getColumns.tsx
  src/modules/UsersTable/types/index.ts
Due: eslint --fix

feat: update pages
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/NoMatch.tsx
  src/pages/Profile.tsx
  src/pages/Users.tsx
  src/pages/stories/Home.stories.tsx
  src/pages/stories/Login.stories.tsx
  src/pages/stories/News.stories.tsx
  src/pages/stories/NoMatch.stories.tsx
Due: eslint --fix

feat: update app providers
  src/app/providers/GraphqlClient/GraphqlClient.tsx
  src/app/providers/GraphqlClient/index.ts
  src/app/providers/Paths/Paths.tsx
  src/app/providers/Paths/index.ts
  src/app/providers/Router/Router.tsx
  src/app/providers/Theme/Theme.tsx
  src/app/providers/index.tsx
Due: eslint --fix

feat: update app
  .eslintignore
  .gitignore
  .npmrc
  .storybook/main.js
  .storybook/preview.js
  codegen.ts
  package-lock.json
  package.json
  public/favicon.ico
  scripts/imagemin.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

feat: serve stories
  .gitignore
  .gitlab-ci.yml
  app.config.json
  package.json
Due: prettier --write

feat: remove serve stories
  app.config.json
Due: prettier --write

fix: fix run app
  app.config.json
  package-lock.json
  package.json
Due: prettier --write

feat: doc
  README.md
  src/shared/styles/index.css
  src/shared/styles/overrides.css
  src/shared/styles/ovverides.css
Due: none

feat: date format
  src/app/providers/index.tsx
  src/shared/hooks/useRequestState.ts
  src/shared/lib/formatDate.ts
Due: eslint --fix

feat: color links
  src/modules/CompilationsTable/lib/getColumns.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/NewsTable/lib/getColumns.tsx
  src/pages/News.tsx
  src/shared/components/PageTitle/PageTitle.tsx
  src/shared/stores/news/index.ts
Due: eslint --fix

feat: table pagination
  public/index.html
  src/app/providers/Theme/Theme.tsx
  src/modules/CompilationsTable/CompilationsTable.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/NewsTable/lib/getColumns.tsx
  src/modules/UsersTable/UsersTable.tsx
  src/shared/components/TablePagination/TablePagination.tsx
  src/shared/stores/auth/index.ts
Due: eslint --fix

feat: table filters drop
  src/app/providers/Theme/Theme.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/NewsTable/lib/getColumns.tsx
  src/shared/components/TableHeadCell/TableHeadCell.tsx
  src/shared/hooks/useRequestState.ts
Due: eslint --fix
