Repository nikitasmg/findRecipe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write, node ./scripts/imagemin.mjs

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["eslint --ext .js,.jsx,.ts,.tsx src"],
  "*.json": ["prettier --write"],
  "*.{png,jpeg,jpg,gif}": ["node ./scripts/imagemin.mjs", "git add"]
}

Правки
  src/modules/ProjectsDetailsForm/components/ContestsSelect/ContestsSelect.tsx
  src/modules/ProjectsDetailsForm/components/ContestsSelect/lib/useContestsSelect.ts
  src/modules/ProjectsDetailsForm/components/GeneralProjectsForm/GeneralProjectsForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: remove unussed
  src/modules/CompilationEditTable/lib/getColumns.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: events
  package.json
  src/api/events/queries.ts
  src/generated/graphql.ts
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/modules/ContestDetailsForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/ContestTable/ContestTable.tsx
  src/modules/EmployeesTable/EmployeesTable.tsx
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/EventsDetailsForm/components/AdditionalForm/AdditionalForm.tsx
  src/modules/EventsDetailsForm/components/AdditionalForm/index.ts
  src/modules/EventsDetailsForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/EventsDetailsForm/components/DocumentsForm/index.ts
  src/modules/EventsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/EventsDetailsForm/components/GeneralForm/index.ts
  src/modules/EventsDetailsForm/components/Member/index.ts
  src/modules/EventsTable/EventsTable.tsx
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/modules/NewsDetailsForm/components/AdditionalNewsForm/AdditionalNewsForm.tsx
  src/modules/NewsTable/NewsTable.tsx
  src/modules/PagesTable/PagesTable.tsx
  src/modules/ProjectsTable/ProjectsTable.tsx
  src/modules/PurchasesTable/PurchasesTable.tsx
  src/modules/StaffControlTable/StaffControlTable.tsx
  src/modules/VacanciesTable/VacanciesTable.tsx
  src/shared/components/DocumentsUpload/DocumentsUpload.tsx
  src/shared/components/LinkInput/LinkInput.tsx
  src/shared/i18n/ru.json
  src/shared/lib/initFormValues.ts
  tsconfig.tsbuildinfo
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: restyle events table
  src/modules/EventsTable/EventsTable.tsx
  src/modules/EventsTable/lib/useColumns.tsx
  src/modules/EventsTable/types/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: restyle contests
  src/api/news/queries.ts
  src/generated/graphql.ts
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/modules/ContestDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/ContestTable/ContestTable.tsx
  src/modules/ContestTable/lib/useColumns.tsx
  src/modules/ContestTable/types/index.ts
  src/modules/NewsTable/lib/useColumns.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: refetch news details
  src/modules/NewsDetailsForm/NewsDetailsForm.tsx
  src/modules/NewsDetailsForm/components/GeneralNewsForm/GeneralNewsForm.tsx
  src/modules/NewsDetailsForm/lib/prepareFormData.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: remove unussed
  src/shared/components/DetailsHead/DetailsHead.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: additional description about page
  src/modules/EditAboutPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: saving events
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/EventsDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/EventsTable/lib/useColumns.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

Поправлена таблица пользователей, добавлена форма редактирования/создания
  src/api/users/queries.ts
  src/generated/graphql.ts
  src/modules/UsersDetailsForm/UsersDetailsForm.tsx
  src/modules/UsersDetailsForm/index.ts
  src/modules/UsersTable/UsersTable.stories.tsx
  src/modules/UsersTable/UsersTable.tsx
  src/modules/UsersTable/lib/getColumns.tsx
  src/modules/UsersTable/lib/useColumns.tsx
  src/pages/Routing/Routing.tsx
  src/pages/Users.tsx
  src/pages/UsersEdit.tsx
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
  src/shared/stores/users/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

Добавлены формы редактирования в разделе Страницы для Грантовая поддержка и НТЦ в Сургуте
  src/modules/EditGrantsPageForm/EditGrantsPageForm.tsx
  src/modules/EditGrantsPageForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/EditGrantsPageForm/components/DocumentsForm/index.ts
  src/modules/EditGrantsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditGrantsPageForm/components/GeneralPageForm/index.ts
  src/modules/EditGrantsPageForm/components/SeoForm/SeoForm.tsx
  src/modules/EditGrantsPageForm/components/SeoForm/index.ts
  src/modules/EditGrantsPageForm/index.ts
  src/modules/EditNtcInSurgutPageForm/EditNtcInSurgutPageForm.tsx
  src/modules/EditNtcInSurgutPageForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/EditNtcInSurgutPageForm/components/DocumentsForm/index.ts
  src/modules/EditNtcInSurgutPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditNtcInSurgutPageForm/components/GeneralPageForm/index.ts
  src/modules/EditNtcInSurgutPageForm/components/SeoForm/SeoForm.tsx
  src/modules/EditNtcInSurgutPageForm/components/SeoForm/index.ts
  src/modules/EditNtcInSurgutPageForm/index.ts
  src/pages/Routing/PagesEditRouting/PagesEditRouting.tsx
  src/pages/edit/grants.tsx
  src/pages/edit/ntc-in-surgut.tsx
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: remove not working
  src/modules/NewsTable/NewsTable.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

Правки из баг-репорта ID 47-52
  src/app/providers/Paths/Paths.tsx
  src/modules/EditContactsPageForm/EditContactsPageForm.tsx
  src/modules/EditContactsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditContactsPageForm/components/SeoForm/SeoForm.tsx
  src/modules/EditContactsPageForm/index.ts
  src/modules/EditcontactsPageForm/index.ts
  src/modules/PagesTable/PagesTable.tsx
  src/modules/SettingsForm/components/ContactSettingsForm/ContactSettingsForm.tsx
  src/pages/edit/contacts.tsx
  src/shared/components/PhoneInput/PhoneInput.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix compilations
  src/modules/CompilationEditTable/CompilationEditTable.tsx
  src/modules/EditIndexPageForm/EditIndexPageForm.tsx
  src/modules/EditIndexPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditIndexPageForm/components/SeoForm/SeoForm.tsx
  src/shared/stores/compilations/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: max phone length
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/shared/components/PhoneInput/PhoneInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: filters
  src/modules/ContestDetailsForm/ContestDetailsForm.tsx
  src/modules/ContestDetailsForm/components/GeneralForm/GeneralForm.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/shared/i18n/ru.json
  src/shared/lib/getBooleanPresentationForBackend.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

Изменение структуры форм в карточке проекта, добавление новых полей
  src/api/projects/queries.ts
  src/generated/graphql.ts
  src/modules/ProjectsDetailsForm/ProjectsDetailsForm.tsx
  src/modules/ProjectsDetailsForm/components/ContestsSelect/ContestsSelect.tsx
  src/modules/ProjectsDetailsForm/components/GeneralProjectsForm/GeneralProjectsForm.tsx
  src/modules/ProjectsDetailsForm/components/ReportProjectsForm/ReportProjectsForm.tsx
  src/modules/ProjectsDetailsForm/components/ReportProjectsForm/index.ts
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

Правки по баг-репорту ID 50, 73, 75, 76, 84
  package-lock.json
  package.json
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/PurchasesTable/lib/usePurchases.ts
  src/modules/SettingsForm/components/ContactSettingsForm/ContactSettingsForm.tsx
  src/shared/components/PhoneInput/PhoneInput.tsx
  src/shared/i18n/ru.json
  src/shared/lib/validation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

Добавление поля Практическое использование в форме проектов
  src/api/projects/queries.ts
  src/generated/graphql.ts
  src/modules/ProjectsDetailsForm/ProjectsDetailsForm.tsx
  src/modules/ProjectsDetailsForm/components/ReportProjectsForm/ReportProjectsForm.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix names properties
  src/modules/NewsDetailsForm/lib/prepareFormData.ts
  src/modules/UsersTable/UsersTable.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: fix staff control and styles
  src/modules/ContestTable/lib/useColumns.tsx
  src/modules/EmployeesTable/EmployeesTable.tsx
  src/modules/EmployeesTable/lib/useColumns.tsx
  src/modules/EmployeesTable/types/index.ts
  src/modules/ProjectsTable/ProjectsTable.tsx
  src/modules/ProjectsTable/lib/useColumns.tsx
  src/modules/ProjectsTable/types/index.ts
  src/modules/PurchasesTable/PurchasesTable.tsx
  src/modules/PurchasesTable/lib/useColumns.tsx
  src/modules/PurchasesTable/types/index.ts
  src/modules/StaffControlTable/StaffControlTable.tsx
  src/modules/StaffControlTable/components/DetailsForm/DetailsForm.tsx
  src/modules/StaffControlTable/components/FiltersForm/FiltersForm.tsx
  src/modules/StaffControlTable/lib/useColumns.tsx
  src/modules/VacanciesTable/VacanciesTable.tsx
  src/modules/VacanciesTable/lib/useColumns.tsx
  src/modules/VacanciesTable/types/index.ts
  src/shared/components/TableHeadLabel/TableHeadLabel.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: base document upload layout
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/Folders/Folders.tsx
  src/modules/LinkedDocumentsPreview/components/Folders/index.ts
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/modules/LinkedDocumentsPreview/components/Groups/index.ts
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/shared/components/DocumentCard/DocumentCard.tsx
  src/shared/components/DocumentCard/index.ts
  src/shared/components/FolderCard/FolderCard.tsx
  src/shared/components/FolderCard/index.ts
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: additional number changing
  src/modules/EmployeesTable/components/FiltersForm/FiltersForm.tsx
  src/shared/components/DocumentCard/DocumentCard.tsx
  src/shared/components/FolderCard/FolderCard.tsx
  src/shared/components/NumericInput/NumericInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

Откатил компонент PhoneInput
  package-lock.json
  package.json
  src/modules/SettingsForm/components/ContactSettingsForm/ContactSettingsForm.tsx
  src/shared/components/PhoneInput/PhoneInput.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

feat: add new pages
  src/modules/EditContestsPageForm/EditContestsPageForm.tsx
  src/modules/EditContestsPageForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/EditContestsPageForm/components/DocumentsForm/index.ts
  src/modules/EditContestsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditContestsPageForm/components/GeneralPageForm/index.ts
  src/modules/EditContestsPageForm/components/SeoForm/SeoForm.tsx
  src/modules/EditContestsPageForm/components/SeoForm/index.ts
  src/modules/EditContestsPageForm/index.ts
  src/modules/EditProjectsPageForm/EditProjectsPageForm.tsx
  src/modules/EditProjectsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/EditProjectsPageForm/components/GeneralPageForm/index.ts
  src/modules/EditProjectsPageForm/components/SeoForm/SeoForm.tsx
  src/modules/EditProjectsPageForm/components/SeoForm/index.ts
  src/modules/EditProjectsPageForm/index.ts
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/pages/Routing/PagesEditRouting/PagesEditRouting.tsx
  src/pages/edit/contests.tsx
  src/pages/edit/projects.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/DocumentDetailsDialog/index.ts
  src/shared/components/FileInput/FileInput.tsx
  src/shared/i18n/ru.json
  src/shared/lib/getFileFormat.ts
  src/shared/routes/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix/description
  src/modules/EventsTable/components/FiltersForm/FiltersForm.tsx
  src/modules/StaffControlTable/components/FiltersForm/FiltersForm.tsx
  src/modules/VacanciesTable/components/FiltersForm/FiltersForm.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: upload and edit documents
  src/modules/EditContactsPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/Header/Header.tsx
  src/modules/Header/components/HeaderProfile/HeaderProfile.tsx
  src/modules/Header/components/NavigationMenu/NavigationMenu.tsx
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/modules/LinkedDocumentsPreview/components/UploadDocumentsButton/UploadDocumentsButton.tsx
  src/modules/LinkedDocumentsPreview/components/UploadDocumentsButton/index.ts
  src/modules/LoginForm/LoginForm.tsx
  src/pages/Employees.tsx
  src/pages/Purchases.tsx
  src/pages/Vacancies.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/PageTableTitle/PageTableTitle.tsx
  src/shared/components/PageTitle/PageTitle.tsx
  src/shared/components/Panel/Panel.tsx
  src/shared/components/Path/Path.tsx
  src/shared/components/RequiredLabelWrapper/RequiredLabelWrapper.tsx
  src/shared/components/TableHeadLabel/TableHeadLabel.tsx
  src/shared/styles/index.css
Due: eslint --ext .js,.jsx,.ts,.tsx src

feat: group createng and editing
  src/modules/LinkedDocumentsPreview/components/AddGroup/AddGroup.tsx
  src/modules/LinkedDocumentsPreview/components/AddGroup/index.ts
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/shared/components/DocumentGroupDetailsDialog/DocumentGroupDetailsDialog.tsx
  src/shared/components/DocumentGroupDetailsDialog/index.ts
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

feat: edit document group
  src/modules/LinkedDocumentView/LinkedDocumentView.tsx
  src/modules/LinkedDocumentView/index.ts
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/modules/LinkedDocumentsPreview/components/Groups/Groups.tsx
  src/pages/GroupDocuments.tsx
  src/pages/Routing/Routing.tsx
  src/shared/components/ButtonDelete/ButtonDelete.tsx
  src/shared/components/FolderCard/FolderCard.tsx
  src/shared/components/UploadDocumentsButton/UploadDocumentsButton.tsx
  src/shared/components/UploadDocumentsButton/index.ts
  src/shared/i18n/ru.json
  src/shared/routes/index.ts
  src/shared/styles/index.css
  tailwind.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: update imports
  src/modules/ActivityResultsDetailsForm/ActivityResultsDetailsForm.tsx
  src/modules/LinkedDocumentsPreview/LinkedDocumentsPreview.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: fix file format
  src/shared/components/UploadDocumentsButton/UploadDocumentsButton.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx src

fix: add documents form
  src/modules/ActivityResultsDetailsForm/ActivityResultsDetailsForm.tsx
  src/modules/EditAnoBiomedPageForm/EditAnoBiomedPageForm.tsx
  src/modules/EmployeesDetailsForm/EmployeesDetailsForm.tsx
  src/modules/EventsDetailsForm/EventsDetailsForm.tsx
  src/modules/EventsDetailsForm/components/Member/Member.tsx
  src/modules/InteractiveMapForm/InteractiveMapForm.tsx
  src/modules/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/modules/LinkedDocumentForm/index.ts
  src/modules/LinkedDocumentView/LinkedDocumentView.tsx
  src/modules/LinkedDocumentsPreview/components/LinkedDocuments/LinkedDocuments.tsx
  src/modules/PurchasesDetailsForm/PurchasesDetailsForm.tsx
  src/modules/ReportsDetailsForm/ReportsDetailsForm.tsx
  src/modules/StaffControlTable/components/DetailsForm/DetailsForm.tsx
  src/modules/UsersDetailsForm/UsersDetailsForm.tsx
  src/modules/VacanciesDetailsForm/VacanciesDetailsForm.tsx
  src/shared/components/DocumentDetailsDialog/DocumentDetailsDialog.tsx
  src/shared/components/DocumentGroupDetailsDialog/DocumentGroupDetailsDialog.tsx
  src/shared/components/DocumentsUpload/DocumentsUpload.tsx
  src/shared/components/GalleryInput/GalleryInput.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/components/LinkedDocumentForm/index.ts
  src/shared/components/SaveButton/SaveButton.tsx
  src/shared/components/SaveButton/index.ts
  src/shared/components/TabsForm/TabsForm.tsx
  src/shared/components/UploadDocumentsButton/UploadDocumentsButton.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write

fix: documents form
  src/api/pages/queries.ts
  src/generated/graphql.ts
  src/layouts/EditIndexPageForm/EditIndexPageForm.tsx
  src/layouts/EditIndexPageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/layouts/EditIndexPageForm/components/SeoForm/SeoForm.tsx
  src/layouts/EditIndexPageForm/index.ts
  src/modules/LinkedDocumentView/index.ts
  src/modules/LinkedGroupDocumentView/LinkedGroupDocumentView.tsx
  src/modules/LinkedGroupDocumentView/index.ts
  src/modules/PageForm/PageForm.tsx
  src/modules/PageForm/components/BlocksForm/BlocksForm.tsx
  src/modules/PageForm/components/BlocksForm/index.ts
  src/modules/PageForm/components/DocumentsForm/DocumentsForm.tsx
  src/modules/PageForm/components/DocumentsForm/index.ts
  src/modules/PageForm/components/GeneralPageForm/GeneralPageForm.tsx
  src/modules/PageForm/components/GeneralPageForm/index.ts
  src/modules/PageForm/components/SeoForm/SeoForm.tsx
  src/modules/PageForm/components/SeoForm/index.ts
  src/modules/PageForm/index.ts
  src/pages/GroupDocuments.tsx
  src/pages/edit/index.tsx
  src/shared/components/LinkedDocumentForm/LinkedDocumentForm.tsx
  src/shared/i18n/ru.json
Due: eslint --ext .js,.jsx,.ts,.tsx src, prettier --write
